<div id="gw_update" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-light-gray w3-round-large w3-animate-top" style="max-width:700px;">
    <div class="w3-container w3-padding">
      <div class="w3-panel">
        <label class="w3-label w3-text-black" style="font-weight:bold;font-size:16px;">Update Gateway</label>
      </div>
      <div class="w3-panel">
        <form action="/devices/gw/update" method="POST" autocomplete="off" onsubmit="document.getElementById('loading').style.display='block'">
          <table class="w3-table w3-border w3-bordered w3-white">
            <tr>
              <td><b><label class="w3-small">Description</label></b></td>
              <td><input id="gw_update_description" class="w3-input w3-border" type="text" name="description" placeholder="Description"></td>
            </tr>
            <tr>
              <td><b><label class="w3-small">Database</label></b></td>
              <td><input id="gw_update_database" class="w3-input w3-border w3-light-gray" type="text" name="database" disabled></td>
            </tr>
            <tr>
              <td><b><label class="w3-small">EUI</label></b></td>
              <td><input id="gw_update_eui" class="w3-input w3-border w3-light-gray" type="text" name="eui" readonly></td>
            </tr>
            <tr>
              <td><b><label class="w3-small">Location</label></b></td>
              <td>
                <div class="w3-row">
                  <input id="gw_update_latitude" class="w3-input w3-border" type="text" name="latitude" style="display:none">
                  <input id="gw_update_longitude" class="w3-input w3-border" type="text" name="longitude" style="display:none">
                  <input id="gw_update_location" class="w3-input w3-border w3-col" type="text" placeholder="None" readonly style="width:90%">
                  <a id="gw_update_showmap" class="w3-button w3-border w3-col w3-round fa fa-map-marker" style="width:10%" onclick="displayGwUpdateMap(true)"></a>
                  <a id="gw_update_hidemap" class="w3-button w3-border w3-col w3-round fa fa-remove" style="width:10%;display:none" onclick="displayGwUpdateMap(false)"></a>
                </div>
                <div id="gw_update_map" class="w3-border" style="width:100%;height:200px;display:none"></div>
              </td>
            </tr>
          </table>
          <div class="w3-panel">
            <button class="w3-button w3-border w3-blue w3-hover-shadow w3-hover-indigo w3-round">Update</button>
            <a class="w3-button w3-border w3-hover-shadow w3-round w3-right" onclick="document.getElementById('gw_update').style.display='none'">Cancle</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
function openGwUpdate(eui) {
  var gateway = gateways[eui];
  var location = gateway.location;
  if (location.lat && location.lng) displayGwUpdateMap(true, location);
  else displayGwUpdateMap(false);
  document.getElementById('gw_update_description').value = gateway.description;
  document.getElementById('gw_update_database').value = gateway.database;
  document.getElementById('gw_update_eui').value = eui;
  document.getElementById('gw_update').style.display = 'block';
}

function displayGwUpdateMap(b, location) {
  if (!b) {
    document.getElementById('gw_update_latitude').value = '';
    document.getElementById('gw_update_longitude').value = '';
    document.getElementById('gw_update_location').value = '';
    gw_updateMarker.setPosition(null);
    gw_updateMap.setCenter({ lat: Number(defaultLocation.lat), lng: Number(defaultLocation.lng) });
    gw_updateMap.setZoom(16);
  } else if (location) {
    document.getElementById('gw_update_latitude').value = location.lat;
    document.getElementById('gw_update_longitude').value = location.lng;
    document.getElementById('gw_update_location').value = location.lat + ', ' + location.lng;
    gw_updateMarker.setPosition({ lat: Number(location.lat), lng: Number(location.lng) });
    gw_updateMap.setCenter({ lat: Number(location.lat), lng: Number(location.lng) });
    gw_updateMap.setZoom(17);
  }
  document.getElementById('gw_update_showmap').style.display = b ? 'none' : 'block';
  document.getElementById('gw_update_hidemap').style.display = b ? 'block' : 'none';
  document.getElementById('gw_update_map').style.display = b ? 'block' : 'none';
}

function initGwUpdateMap() {
  gw_updateMap = new google.maps.Map(document.getElementById("gw_update_map"), {
    center: { lat: Number(defaultLocation.lat), lng: Number(defaultLocation.lng) },
    zoom: 16,
    streetViewControl: false,
    mapTypeControl: false,
    scaleControl: true,
    gestureHandling: 'greedy'
  });

  gw_updateMarker = new google.maps.Marker({
      position: null,
      icon: {
        url: '/images/icon_gateway.png',
        scaledSize: new google.maps.Size(30, 30)
      },
      map: gw_updateMap
  });
  gw_updateMarker.setDraggable(true);

  google.maps.event.addListener(gw_updateMarker, "dragend", function() {
    var location = gw_updateMarker.getPosition();
    var lat = location.lat();
    var lng = location.lng();
    document.getElementById('gw_update_latitude').value = lat;
    document.getElementById('gw_update_longitude').value = lng;
    document.getElementById('gw_update_location').value = lat + ', ' + lng;
  });

  google.maps.event.addListener(gw_updateMap, 'click', function(e) {
    if (gw_updateMarker.getPosition()) return;

    var location = e.latLng;
    var lat = location.lat();
    var lng = location.lng();
    document.getElementById('gw_update_latitude').value = lat;
    document.getElementById('gw_update_longitude').value = lng;
    document.getElementById('gw_update_location').value = lat + ', ' + lng;
    gw_updateMarker.setPosition(location);
  });
}
</script>
