<div id="add" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-light-gray w3-round-large w3-animate-top" style="max-width:700px;">
    <div class="w3-container w3-padding">
      <div class="w3-panel">
        <label class="w3-label w3-text-black" style="font-weight:bold;font-size:16px;">Add Node</label>
      </div>
      <div class="w3-panel">
        <form action="/devices/node/add" method="POST" autocomplete="off" onsubmit="return addCheck()">
          <table class="w3-table w3-border w3-bordered w3-white">
            <tr>
              <td><b><label class="w3-small">Description</label></b></td>
              <td><input id="add_description" class="w3-input w3-border" type="text" name="description" placeholder="Description"></td>
            </tr>
            <tr>
              <td><b><label class="w3-small">Gateway</label></b></td>
              <td>
                <select id="add_gateway" class="w3-select w3-border" name="gateway" required>
                </select>
              </td>
            </tr>
            <tr>
              <td><b><label class="w3-small">EUI</label></b></td>
              <td><input id="add_eui" class="w3-input w3-border" type="text" name="eui" placeholder="00-00-00-00-00-00-00-00" required
                pattern="^([0-9a-f]{2}[:-]){7}([0-9a-f]{2})$" oninput="setCustomValidity('')"></td>
            </tr>
            <tr>
              <td><b><label class="w3-small">Location</label></b></td>
              <td>
                <div class="w3-row">
                  <input id="add_latitude" class="w3-input w3-border" type="text" name="latitude" style="display:none">
                  <input id="add_longitude" class="w3-input w3-border" type="text" name="longitude" style="display:none">
                  <input id="add_location" class="w3-input w3-border w3-col" type="text" placeholder="None" readonly style="width:90%">
                  <a id="add_showmap" class="w3-button w3-border w3-col w3-round fa fa-map-marker" style="width:10%" onclick="displayAddMap(true)"></a>
                  <a id="add_hidemap" class="w3-button w3-border w3-col w3-round fa fa-remove" style="width:10%;display:none" onclick="displayAddMap(false)"></a>
                </div>
                <div id="add_map" class="w3-border" style="width:100%;height:200px;display:none"></div>
              </td>
            </tr>
          </table>
          <div class="w3-panel">
            <button class="w3-button w3-border w3-blue w3-hover-shadow w3-hover-indigo w3-round">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
            <a class="w3-button w3-border w3-hover-shadow w3-round w3-right" onclick="document.getElementById('add').style.display='none'">Cancle</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
(function nodeAddgwsList() {
  var select = document.getElementById('add_gateway');

  for (var x in gateways) {
    var opt = document.createElement('option');
    opt.setAttribute('value', x);
    opt.appendChild(document.createTextNode(x));
    select.appendChild(opt);
  }
})();

function openAdd() {
  displayAddMap(false);
  document.getElementById('add_description').value = '';
  document.getElementById('add_gateway').selectedIndex = 0;
  document.getElementById('add_eui').value = '';
  document.getElementById('add').style.display = 'block';
}

function addCheck() {
  var x = document.getElementById('add_eui');

  if (nodes[x.value]) {
    x.setCustomValidity('이미 등록되었습니다.');
    x.reportValidity();
    return false;
  }

  document.getElementById('loading').style.display = 'block';
  return true;
}

function displayAddMap(b) {
  if (!b) {
    addMarker.setPosition(null);
    addMap.setCenter({ lat: Number(defaultLocation.lat), lng: Number(defaultLocation.lng) });
    addMap.setZoom(16);
    document.getElementById('add_latitude').value = '';
    document.getElementById('add_longitude').value = '';
    document.getElementById('add_location').value = '';
  }
  document.getElementById('add_showmap').style.display = b ? 'none' : 'block';
  document.getElementById('add_hidemap').style.display = b ? 'block' : 'none';
  document.getElementById('add_map').style.display = b ? 'block' : 'none';
}

function initAddMap() {
  addMap = new google.maps.Map(document.getElementById("add_map"), {
    center: { lat: Number(defaultLocation.lat), lng: Number(defaultLocation.lng) },
    zoom: 16,
    streetViewControl: false,
    mapTypeControl: false,
    scaleControl: true,
    gestureHandling: 'greedy'
  });

  addMarker = new google.maps.Marker({
      position: null,
      icon: {
        url: '/images/icon_node.png',
        scaledSize: new google.maps.Size(30, 30)
      },
      map: addMap
  });
  addMarker.setDraggable(true);

  google.maps.event.addListener(addMarker, "dragend", function() {
    var location = addMarker.getPosition();
    var lat = location.lat();
    var lng = location.lng();
    document.getElementById('add_latitude').value = lat;
    document.getElementById('add_longitude').value = lng;
    document.getElementById('add_location').value = lat + ', ' + lng;
  });

  google.maps.event.addListener(addMap, 'click', function(e) {
    if (addMarker.getPosition()) return;

    var location = e.latLng;
    var lat = location.lat();
    var lng = location.lng();
    document.getElementById('add_latitude').value = lat;
    document.getElementById('add_longitude').value = lng;
    document.getElementById('add_location').value = lat + ', ' + lng;
    addMarker.setPosition(location);
  });
}
</script>
