<div id="options" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-light-gray w3-round-large w3-animate-top" style="max-width:500px;">
    <div class="w3-container w3-padding">
      <div class="w3-panel">
        <label class="w3-label w3-text-black" style="font-weight:bold;font-size:16px;">Options</label>
      </div>
      <div class="w3-panel">
        <table class="w3-table w3-border w3-bordered w3-white">
          <tr>
            <td><b><label class="w3-small">Prefix</label></b></td>
            <td><input id="options_prefix" class="w3-input w3-border" type="text" autocomplete="off" onkeyup="if(event.keyCode == '13')updateOptions()"></td>
          </tr>
          <tr>
            <td><b><label class="w3-small">Count</label></b></td>
            <td><input id="options_count" class="w3-input w3-border" type="number" placeholder="100~ 10000" min="100" max="10000" required autocomplete="off" onkeyup="if(event.keyCode == '13')updateOptions()"></td>
          </tr>
        </table>
        <div class="w3-panel">
          <a class="w3-button w3-border w3-blue w3-hover-shadow w3-hover-indigo w3-round" onclick="updateOptions()">Update</a>
          <a class="w3-button w3-border w3-hover-shadow w3-round w3-right" onclick="updateCancle()">Cancle</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var backup = {};

function openOptions() {
  document.getElementById('options').style.display = 'block';
  backup.prefix = document.getElementById('options_prefix').value;
  backup.count = document.getElementById('options_count').value;
}

function updateOptions() {
  var prefix = document.getElementById('options_prefix');
  var cnt = document.getElementById('options_count');

  if (prefix.value.match(/[\\/:*?"<>|]/g)) {
    prefix.setCustomValidity('\\ / : * ? " < > | 는 사용할 수 없습니다.');
    prefix.reportValidity();
    return;
  }

  if (!cnt.value || cnt.value < 100 || cnt.value > 10000) {
    cnt.reportValidity();
    return;
  }

  count = cnt.value;
  document.getElementById('options').style.display = 'none';

  refreshTable();
}

function updateCancle() {
  document.getElementById('options_prefix').value = backup.prefix;
  document.getElementById('options_count').value = backup.count;
  document.getElementById('options').style.display = 'none';
}
</script>
