<div id="delete" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-light-gray w3-round-large w3-animate-top" style="max-width:500px;">
    <div class="w3-container w3-padding">
      <div class="w3-section w3-display-container">
        <div class="w3-panel">
          <h class="w3-text-red" style="text-shadow: 1px 1px black;">Node data will be deleted, are you sure?</h>
          <input id="delete_eui" class="w3-input" type="text" style="display:none;">
        </div>
        <div class="w3-panel">
          <a class="w3-button w3-border w3-blue w3-hover-shadow w3-hover-indigo w3-round" onclick="deleteNode()">&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;</a>
          <a class="w3-button w3-border w3-hover-shadow w3-round w3-right" onclick="document.getElementById('delete').style.display='none'">Cancle</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function openDelete(eui) {
  document.getElementById('delete_eui').value = eui;
  document.getElementById('delete').style.display = 'block';
}

function deleteNode() {
  var eui = document.getElementById('delete_eui').value;

  delete nodes[eui];
  for (var i in charts) {
    var pre = i + '_';
    var series = charts[i].get(pre + eui);
    if (series) series.remove();

    if (i == 'interval') continue;

    series = charts[i].get(pre + eui + '_avg')
    if (series) series.remove();
  }
  document.getElementById('delete').style.display = 'none';
  refreshTable();
}
</script>
