<!DOCTYPE html>
<html>
  <head>
    <title>NSS LAB</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src=/javascripts/realtime.highcharts.js></script>
    <script src=/javascripts/realtime.io.js></script>
  </head>